* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: white;
  }

  &.button {
    border-radius: 4px;
    flex: 0 0 36px;
    height: 39px;
    line-height: 38px;
    text-align: center;

    &:hover {
      background-color: #b5a17e;
    }
  }
}

body {
  background-color: #413620;
  color: #4c2b20;
  display: flex;
  flex-direction: column;
  font-family: "Alex Brush", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body > header {
  align-items: flex-start;
  border-bottom: 5px solid #9C6615;
  border-top: 5px solid #9C6615;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  justify-content: center;
  padding: 0.5em;

  h1 {
    align-items: center;
    display: flex;
    font-weight: 300;
    gap: 0.5em;
    margin: 0;
  }

  img {
    height: 32px;
    margin-right: 0.25em;
    margin-top: -2px;
    vertical-align: text-top;
    width: 32px;
  }

  a {
    color: #9F7833;

    &:visited {
      color: #9F7833;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
